.navbar {
    padding: 10px 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: transparent;
    z-index: 99;

    &__logo {
        flex: 1;

        img {
            width: 25%;
            height: auto;
        }
    }

    &__menu {
        ul {
            display: flex;
        }

        &__item {
            min-width: 120px;

            a {
                float: left;
                width: 100%;
                color: $black;
                text-align: center;
                font-size: 15px;
                font-weight: 900;
                padding: 12px;
                text-transform: uppercase;

                &:hover {
                    color: $primary;
                }

            }

            &.active a {
                color: $primary;
                border-bottom: 3px solid $primary;
            }
        }
    }
}